@{
    ViewData["Title"] = "Access Denied";
}

<div class="row alert alert-danger">
    <h1>
        Access Denied
    </h1>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-flat">
        Anasayfa
    </a>
</div>