@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Error</h1>

<p class="display-4 text-danger">Bir hata oluştu. Teknik ekibimiz bilgilendirildi. İlgili hata en kısa zamanda fixlenecek.</p>

