@model AppUserSignInViewModel

@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_LayoutSignInSignUp.cshtml";
}

@section JqueryValidation{
<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="card-body">
    <p class="login-box-msg">Giriş Yap</p>
    <form asp-action="GirisYap" asp-controller="Home" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-group">
            <input type="text" asp-for="UserName" class="form-control" placeholder="kullanıcı adınız" />
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <span asp-validation-for="UserName" class="text-danger"></span>
        <div class="input-group mt-3">
            <input type="password" asp-for="Password" class="form-control" placeholder="şifreniz" />
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>

        <div class="row mt-3">
            <div class="col-12">
                <div class="icheck-primary">
                    <input type="checkbox" asp-for="RememberMe" />
                    <label asp-for="RememberMe"></label>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">
                    Giriş Yap
                </button>
            </div>
        </div>
    </form>
    <a asp-action="KayitOl" asp-controller="Home" class="text-center">
        Yeni bir üyelik kaydı
    </a>
</div>
